html, body {
  margin: 0;
  padding: 0;
  background-color: #1c144b;
}

canvas {
  display: block;
}

h1 {
  color: white;
}

.button {
  background-color: #f10ca2;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor:crosshair;
}

.button:hover {
  background-color:#ddf109;
  color: white;
}
